<link  rel="stylesheet" href="../static/card.css">
<h1>Mission statement:</h1>
<p>We help Victorians understand the factors behind road incidents through transparent, accessible, and unbiased crash data — empowering parents, researchers, and policymakers to take informed action.</p>

<h1>How to use this website:</h1>
<div class="horizontal-card-container">
    <div class="horizontal-card">
        <div class="horizontal-card-body">
            <h4>Accident Condition</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Omnis, quia quae vel iusto dolores provident explicabo velit facere error beatae perferendis fugit ullam? 
                Repudiandae culpa maiores consequuntur voluptatem cupiditate aspernatur.</p>
        </div>
    </div>

    <div class="horizontal-card">
        <div class="horizontal-card-body">
            <h4>People and Injury</h4>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Omnis, veniam fugiat suscipit ipsam ducimus sunt possimus necessitatibus numquam quam ipsa reprehenderit atque quis pariatur maiores at perferendis nostrum rem nesciunt?</p>
        </div>
    </div>
</div>
<div class="horizontal-card-container">
    <div class="horizontal-card">
        <div class="horizontal-card-body">
            <h4>Accident Analysis</h4>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Doloremque esse provident quidem laborum rerum iste, inventore, magnam praesentium assumenda illum est laboriosam illo, officia consectetur. 
                Possimus impedit mollitia quibusdam necessitatibus!</p>
        </div>
    </div>

    <div class="horizontal-card">
        <div class="horizontal-card-body">
            <h4>People Analysis</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Totam, excepturi! Sit tenetur error sapiente debitis, consequuntur minima voluptatem voluptas illum labore, neque cumque suscipit. 
                Quod ab voluptatibus praesentium laborum commodi.</p>
        </div>
    </div>
</div>
   
<!-- TODO: retrive data from db! -->
<h1>Personas:</h1>
<div class="card-container">
    <div class="card">
        <img src="../static/images/eImg.png" alt="Elda">
        <div class="container">
            <h4>Elda</h4>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Illo quisquam, aspernatur recusandae repellat optio repellendus enim dolorem aperiam modi? 
                Rem ad blanditiis culpa harum, impedit totam ab illo tempore adipisci!
            </p>
        </div>
    </div>
    <div class="card">
        <img src="../static/images/kImg.png" alt="Kwazimoto">
        <div class="container">
            <h4>Kwasimoto</h4>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                Illo quisquam, aspernatur recusandae repellat optio repellendus enim dolorem aperiam modi? 
                Rem ad blanditiis culpa harum, impedit totam ab illo tempore adipisci!
            </p>
        </div>
    </div>
</div>

<!-- TODO: retrive data from db! -->
<h1>Team members:</h1>
<div class="horizontal-card-container-sm">
    <div class="horizontal-card-sm">
        <div class="horizontal-card-body-sm">
            <h4>Ayan Goel</h4>
            <p>S4252762</p>
        </div>
    </div>

    <div class="horizontal-card-sm">
        <div class="horizontal-card-body-sm">
            <h4>Laura Albrile</h4>
            <p>S4257196</p>
        </div>
    </div>
</div>