<html lang="en">
<head>
    <link rel="stylesheet" href="../static/footer.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<footer class="site-footer">
    <div class="footer-container">

        <!-- LEFT: Logo -->
        <div class="footer-left">
            <img src="../static/images/logo.png" alt="Logo" class="footer-logo">
        </div>

        <!-- RIGHT: Links -->
        <div class="footer-left">
            <div class="footer-links">
                <a href="#">a</a>
                <a href="#">b</a>
                <a href="#">c</a>
                <a href="#">d</a>
                <a href="#">e</a>
            </div>
            <p class="footer-copy">
            Copyright 2026, Ayan Goel and Laura Albrile. All rights reserved.
            </p>
        </div>
        <div class="footer-right">
            <div class="footer-links">
                <a href="#">aa</a>
                <a href="#">bb</a>
                <a href="#">cc</a>
                <a href="#">dd</a>
            </div>
        </div>
    </div>

  <!-- Scroll to top button -->
  <a href="#" class="scroll-top">↑</a>
</footer>
</body>
</html>