<html lang="en">
<head>
    <link rel="stylesheet" href="../static/navbar.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div>
        <nav id="navbarMenu" class="navbar_menu align-centre" role="navigation">
            <ul class="nav-left">
                <li><a href="/" class="none"><img src="../static/images/logo.png" alt="logo"></a></li>
            </ul>
            <ul class="nav-centre">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/accident_condition">Accident Condition</a></li>
                <li><a href="/people_and_injury">People & Injury</a></li>
                <li><a href="/accident_analysis">Accident Analysis</a></li>
                <li><a href="/people_analysis">People Analysis</a></li>
            </ul>
        </nav>
    </div>


<script>
    const path = window.location.pathname;
    document.querySelectorAll(".nav-centre a").forEach(link => {
        if (link.getAttribute("href") === path) {
            link.classList.add("active");
        }
    });
</script>
</body>
</html>